div.jumbotron
    div.container
        h1 Welcome to Quizzley!
        p Here, you can create and share quizzes with fellow employees!
        p: a.btn.btn-primary.btn-lg(ng-click="changeCurrentPage('How To')", href="#howTo", role="button") Learn more