//-extends layout

//-block content
div(ng-controller="DesignController")
	div.page-header
		h1 Quizzes
	button.btn.btn-primary(type="button", ng-click="showNewQuiz = true", ng-show="!showNewQuiz") Create New Quiz
	div.input-group(ng-show="showNewQuiz")
		span.input-group-btn
			button.btn.btn-primary(type="button", ng-click="createQuiz(newQuizName)")
				span.glyphicon.glyphicon-check(aria-hidden="true")
		input.form-control(type="text", ng-model="newQuizName") 
	table.table(id="quizzesViewTable")
		thead
			tr
				th.col-md-1 Edit/Delete
				th.col-md-3 Quiz Name
				th.col-md-1 # of Questions
				th.col-md-1 Total Points
				th.col-md-3 Created Date
				th.col-md-3 Last Modified Date
		tbody
			tr(ng-repeat="quiz in quizzes track by $index")
				td
					a.btn.btn-default.btn-sm(role="button", ng-href="#edit/{{quiz._id}}")
						span.glyphicon.glyphicon-pencil(aria-hidden="true")
					button.btn.btn-danger.btn-sm(type="button", ng-click="deleteQuiz(quiz._id)")
						span.glyphicon.glyphicon-remove(aria-hidden="true")
				td
					a(ng-href="#quiz/{{quiz._id}}") {{quiz.quizName}}
				td {{quiz.questions.length}}
				td {{QuizService.getPoints(quiz)}}
				td {{quiz.createdDate | date: 'short'}}
				td {{quiz.lastModifiedDate | date: 'short'}}