//-extends layout

//-block content
div(ng-controller="DesignController")
	div.page-header
		h1 Quizzes
	table.table(id="quizzesViewTable")
		thead
			tr
				th Edit/Delete
				th.col-md-3 Quiz Name
				th.col-md-1 # of Questions
				th.col-md-1 Total Points
				th.col-md-3 Created Date
				th.col-md-3 Last Modified Date
		tbody
			tr(ng-repeat="quiz in quizzes track by $index")
				td
					a.btn.btn-default(role="button", ng-href="#edit/{{quiz._id}}")
						span.glyphicon.glyphicon-pencil(aria-hidden="true")
					button.btn.btn-danger(type="button")
						span.glyphicon.glyphicon-remove(aria-hidden="true")
				td
					a(ng-href="#quiz/{{quiz._id}}") {{quiz.quizName}}
				td {{quiz.questions.length}}
				td {{QuizService.getPoints(quiz)}}
				td {{quiz.createdDate | date: 'short'}}
				td {{quiz.lastModifiedDate | date: 'short'}}