<div>
	<div class="page-header">
        <h1>Creating a Quiz</h1>
    </div>
	<div class="container-fluid">
		<div class="row">
			<h3>Question Numbers</h3>
			<div class="well">
				Question numbers are automatically updated whenever you add or remove a new question!
			</div>
		</div>
		<div class="row">
			<h3>Choices</h3>
			<div class="well">
				When adding choices for a question, they must be comma delimited (separated by commas). 
				This is allows what you type to be broken up into mutliple choices and it's important for matching up the answer to the correct choice.
			</div>
		</div>
		<div class="row">
			<h3>Answer</h3>
			<div class="well">
				When setting the answer for a question, input the choice number with the first choice being 0, second choice being 1, etc.
			</div>
		</div>
	</div>
</div>